{% extends 'landing/base.html' %}
{% load staticfiles %}

<!-- custom body block with class="home" -->
{% block body_open %}
<body class="home">
{% endblock %}

{% block navlinks %}
<li class="active"><a href="{% url 'index' %}#">Home</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
<li><a class="btn" href="{% url 'signin' %}">SIGN IN / SIGN UP</a></li>
{% endblock %}


{% block content %}
	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">An Easy Way to Learn a New Language</h1>
				<p class="tagline">Readable: An assisted reader so you can learn a language with content you're actually interested in.</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Readable is a fast and easy way to to learn a language.  And it's totally free.</h2>
		<p class="text-muted">
			Readable takes you beyond the intermediate stage and into native-level content.
			The best part: you read content you actually like.  Novels, news, forum boards, anything...
		</p>
	</div>
	<!-- /Intro-->
</div>	<!-- /container -->

{% endblock %}
