{% extends 'webapp/base.html' %}
{% load static %}

{% block contents %}
    <div class="row">
        <div class="col-md-2">
            <div class="article-info">
                <h5>Unique Word Counts</h5>
                <div>New <strong><span class="ease-0" id="counter-0"></span></strong></div>
                <div>Hard <strong><span class="ease-1" id="counter-1"></span></strong></div>
                <div>Easy <strong><span class="ease-2" id="counter-2"></span></strong></div>
                <div>Known <strong><span class="ease-3" id="counter-3"></span></strong></div>
                <br>
                <div>Total Count <strong><span id="total-count"></span> </strong></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="article">
            <h3>
                {{ title }}
            </h3>
            <p>
                {% for entry in article_words %}
                    {% if entry.word %}
                        <span class="entry ease-{{ entry.ease }}" data-ease="{{ entry.ease }}" name="{{ entry.word }}">{{ entry.word }}</span>
                    {% else %}
                        <span>{{ entry }}</span>
                    {%  endif %}
                {% endfor %}
            </p>
            </div>
        </div>
        <div class="col-md-2">
            <button id="button-all-known">Mark All Known</button>
        </div>
    </div> <!-- /.row -->
    {% include 'webapp/definition_boxes.html' %}
{%  endblock %}

{% block footer_scripts %}
  <link rel="stylesheet" href="{% static 'webapp/css/hover.css' %}" type="text/css"/>
{% endblock %}
