{% extends 'webapp/base.html' %}
{% load static %}

{% block contents %}
    <div class="row">
        <div class="col-md-2">
            <div class="article-info">
                <h5>Unique Word Counts</h5>
                <div>New: <strong><span class="ease-0" id="counter-0"></span></strong></div>
                <div>Hard: <strong><span class="ease-1" id="counter-1"></span></strong></div>
                <div>Easy: <strong><span class="ease-2" id="counter-2"></span></strong></div>
                <div>Known: <strong><span class="ease-3" id="counter-3"></span></strong></div>
                <br>
                <div>Total Count: <strong><span id="total-count"></span> </strong></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="article">
            <h3>
                {{ title }}
            </h3>
            <p>
                {% for entry in article_words %}
                    {% if entry.ease != None %}
                        <span class="entry ease-{{ entry.ease }}" data-ease={{ entry.ease }} name="{{ entry }}">{{ entry }}</span>
                    {% else %}
                        {{ entry }}
                    {%  endif %}
                {% endfor %}
            </p>
            </div>
        </div>
        <div class="col-md-2">
            <button id="button-all-known">Mark All Known</button>
        </div>
    </div> <!-- /.row -->
    <div>
      {% for entry in dictionary_entries %}
       	{% for pinyin, definitions in entry.pinyin_definitions %}
          <div class="definition" data-word="{{ entry.entry }}" data-word-id="{{ entry.entry.id }}">
        		<h3>
              {{ entry.entry }}
            </h3>
            <p class="pinyin">{{ pinyin }}</p>
            <ul>
              {% for definition in definitions %}
                  <li data-id="{{ definition.id }}">{{ definition }} <button class="glyphicon glyphicon-remove remove"></button></li>
              {% endfor %}
                <br id="break-{{ pinyin }}">
                <li>
                    <form action="" method="post" id="POST-definition-form-{{ entry.entry }}" data-word="{{ entry.entry }}">
                        <label for="POST-definition-text-{{ entry.entry }}">
                            Add a definition
                        </label>
                        <input type="text" class="POST-definition-text" data-pinyin="{{ pinyin }}" id="POST-definition-text-{{ entry.entry }}" name="POST-definition-text-{{ entry.entry }}" data-word="{{ entry.entry }}">
                        <input type="submit" value="Add" class="POST-definition-submit">
                    </form>
                </li>
            </ul>
      	    <button type="submit" class="btn btn-primary easy-button" id="easy-button-1" target-class="ease-1">hard</button>
      	    <button type="submit" class="btn btn-primary easy-button" id="easy-button-2" target-class="ease-2">easy</button>
      	    <button type="submit" class="btn btn-primary easy-button" id="easy-button-3" target-class="ease-3">known</button>
          </div>
        {% endfor %}
    {% endfor %}
  </div>
{%  endblock %}

{% block footer_scripts %}
  <link rel="stylesheet" href="{% static 'webapp/css/hover.css' %}" type="text/css"/>
{% endblock %}
