<div>
    {% for definitions in dictionary_entries %}
        <div class="definition" data-word="{{ definitions.word }}" data-word-id="{{ definitions.id }}">
            <h3>
                {{ definitions.word }}
            </h3>
            {% for pinyin in definitions.pinyin_list %}
                <p class="pinyin">{{ pinyin }}</p>
            {% endfor %}
            <ul class="definition-list">
                {% for definition in definitions %}
                    <li data-id="{{ definition.id }}">{{ definition }}</li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-primary easy-button" id="easy-button-1" target-class="ease-1">hard</button>
            <button type="submit" class="btn btn-primary easy-button" id="easy-button-2" target-class="ease-2">easy</button>
            <button type="submit" class="btn btn-primary easy-button" id="easy-button-3" target-class="ease-3">known</button>
        </div>
  {% endfor %}
</div>