<div>
  {% for entry in dictionary_entries %}
    <div class="definition" data-word="{{ entry.entry }}" data-word-id="{{ entry.entry.id }}">
        <h3>
            {{ entry.entry }}
        </h3>
    {% for pinyin_group in entry.pinyin_groups %}
        <p class="pinyin">{{ pinyin_group.pinyin }}</p>
        <ul>
            {% for definition in pinyin_group.user_definitions %}
                <li data-id="{{ definition.id }}">{{ definition }} <button class="glyphicon glyphicon-remove remove"></button></li>
            {% endfor %}
            <br id="break-{{ pinyin }}">
            <li>
                <form action="" method="post" id="POST-definition-form-{{ entry.entry }}" data-word="{{ entry.entry }}">
                    <label for="POST-definition-text-{{ entry.entry }}">
                        Add a definition
                    </label>
                    <input type="text" class="POST-definition-text" data-pinyin="{{ pinyin }}" id="POST-definition-text-{{ entry.entry }}" name="POST-definition-text-{{ entry.entry }}" data-word="{{ entry.entry }}">
                    <input type="submit" value="Add" class="POST-definition-submit">
                </form>
            </li>
            <br>
            <h4>Add a definition</h4>
            {% for definition in pinyin_group.public_definitions %}
                <li data-public-id="{{ definition.id }}">{{ definition }} <button class="glyphicon glyphicon-plus add"></button></li>
            {% endfor %}
        </ul>
    {% endfor %}

        <button type="submit" class="btn btn-primary easy-button" id="easy-button-1" target-class="ease-1">hard</button>
        <button type="submit" class="btn btn-primary easy-button" id="easy-button-2" target-class="ease-2">easy</button>
        <button type="submit" class="btn btn-primary easy-button" id="easy-button-3" target-class="ease-3">known</button>
    </div>

{% endfor %}
</div>