{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block contents %}
    <div class="row">
        <div class="col-md-2">
            <div class="article-info">
                <h5>Word Counts</h5>
		<div>New: <strong><span class="new">{{ counts.new }}</span></strong></div>
		<div>Easy: <strong><span class="easy">{{ counts.easy }}</span></strong></div>
		<div>Hard: <strong><span class="hard">{{ counts.hard }}</span></strong></div>
		<div>Known: <strong><span class="known">{{ counts.known }}</span></strong></div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="article">
            <h3>
                {{ title }}
            </h3>
                {% if author %}
                    <p>by {{ author }}</p>
                {%  endif  %}
            <p>
                {% for token in tokens %}
                    {% if token.ease %}
                        <span class="{{ token.ease }}">{{ token }}</span>
                    {% else %}
                        {{ token }}
                    {% endif %}
                {% endfor %}
            </p>
            </div>
        </div>
    </div>
{%  endblock %}
