{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block head_include %}
   <script src="{% static 'webapp/js/hover.js' %}"></script>
   <link rel="stylesheet" href="{% static 'webapp/css/hover.css' %}" type="text/css"/>
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-md-2">
            <div class="article-info">
                <h5>Word Counts</h5>
            		<div>New: <strong><span class="new">{{ counts.new }}</span></strong></div>
            		<div>Easy: <strong><span class="easy">{{ counts.easy }}</span></strong></div>
            		<div>Hard: <strong><span class="hard">{{ counts.hard }}</span></strong></div>
            		<div>Known: <strong><span class="known">{{ counts.known }}</span></strong></div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="article">
            <h3>
                {{ title }}
            </h3>
                {% if author %}
                    <p>by {{ author }}</p>
                {%  endif  %}
            <p>
                {% for entry in entries %}
                    {% if entry.ease %}
		                    <span class="entry {{ entry.ease }}" name="{{ entry }}">{{ entry }}</span>
                    {% else %}
                        {{ entry }}
                    {% endif %}
                {% endfor %}
            </p>
            </div>
        </div>
    </div>
    {% for entry in entries %}
    {% if entry.definition_set %}
   	{% for definition in entry.definition_set.all %}
        <div class="definition" data-token="{{ entry }}">
		<h3>{{ entry }}<p class="transliteration">{{ entry.transliteration }}</p></h3>
            <p>{{ definition }}</p>
	    <button type="submit" class="btn btn-primary ease">easy</button>
	    <button type="submit" class="btn btn-primary ease">hard</button>
	    <button type="submit" class="btn btn-primary ease">known</button>
        </div>
        {% endfor %}
    {% endif %}
    {% endfor %}
{%  endblock %}
