.nav {
  background-color: transparent;
  border-color: transparent;
}

.navbar {
  min-height: 85px;
  width: 100%;
  background-color: rgba(32, 166, 231, 0.8);
}

.navbar-header > a.navbar-brand {
  margin-left: 85px;
  font-size: 2.75em;
  margin-top: 15px;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.5em;
  color: white;
  margin-top: 15px;
  margin-right: 5px;
}

.navbar-default .navbar-nav > li:last-child {
  margin-right: 75px;
}

span.entry {
  font-size: 1.5em;
  transition: 0.5s;
  border-radius: 15%;
  &:hover {
    background-color: orange;
  }
}

.ease {
  border-radius: 25%;
  padding: 1px;
  margin: 1px;
}

.ease-0 {
  @extend .ease;
  background-color: lightblue;
}

.ease-1 {
  @extend .ease;
  background-color: red;
}

.ease-2 {
  @extend .ease;
  background-color: green;
}

.ease-3 {
  @extend .ease;
  background-color: white;
}

body {
  background-color: #E9E9E9;
}

#outer-container {
  width: 100%;
}

#inner-content {
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 24px 8px #ccc;
}